html, body {
    font-family: 'Grandstander', cursive;
    /* Tamanho das fontes em 'rem' */
    font-size: 16px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}


form {
    font-size: 15px;
    max-width: 500px;
    overflow: auto;
    margin-top: .5rem;
    padding: 0 .5rem;
    flex: 4;
    display: block;
}

h1 {
    margin: .8rem 0;
}

main {
    display: flex;
    flex-direction: column;
    /* Sticky footer */
    flex: 2;
}


input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

@media(min-width: 575px) {
    main {
        flex-direction: row;
    }
    form {
        margin-left: .25rem;
    }
    aside {
        min-width: 190px;
        max-width: 190px;
        margin-right: .25rem;
    }
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #0e0d0d;
    font-weight: bold;
}